# OpenAI API key
OPENAI_API_KEY=YOUR_API_KEY_HERE

# Langchain API key
LANGCHAIN_API_KEY=YOUR_API_KEY_HERE

# Pinecone API key
PINECONE_API_KEY=YOUR_API_KEY_HERE

# Pinecone index name
PINECONE_INDEX_NAME=YOUR_INDEX_NAME_HERE
